<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/56dd965a-80f7-471d-987e-151254ac7cf6/resourcegroups/ASPServiceCore20190203081839ResourceGroup/providers/Microsoft.Web/sites/ASPServiceCore20190203081839</ResourceId>
    <ResourceGroup>ASPServiceCore20190203081839ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aspservicecore20190203081839.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/56dd965a-80f7-471d-987e-151254ac7cf6/resourcegroups/ASPServiceCore20190203081839ResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20190203083357</ContainerResourceId>
    <ContainerResourceName>registry20190203083357</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190203083357.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3cb987e3-db90-4e34-bc8f-b7542b91445d</ProjectGuid>
  </PropertyGroup>
</Project>